<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
    <body>  

       

        <div class="nav-container">
            <div id="navBtn" class="nav-btn"></div>
            <h2 class="header-text nav-header">20–WDWU–07</h2>
            <div class="nav-list-con">
                <ul class="nav-list">
                  <li id="ourWork" class="subhead-text">Our Work</li>
                  <li id="homePage" class="subhead-text">Home</li>
                  <li class="subhead-text">Upload your Work</li>
                  <li class="subhead-text">Login or Signup</li>
                  
                </ul>
            </div>
        </div>


        <div id="home-container">

            <div class="hero-img-con">
                <video src="../video/hero-vid.mp4" autoplay muted loop controls="off" class="hero-vid"></video>
            </div>

            

            <div class="vid-overlay"></div>

            <div class="home-text-con">
                <h1 class="Header-text">20–WDWU–07</h1>
                <button id="homeCta"class="cta-btn-md Subhead-text">View our Work!</button>
            </div>

        </div>

        <div id="ourWork-container">
            
        </div>



        
        <!-- signup form -->
        <!-- <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="JohnSmithy" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="**********" name="password">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" placeholder="John" name="firstName">
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Smith" id="lastName" name="lastName">
            <button>Submit</button>
        </form>
    
             -->
        
        <!-- login form -->
        <!-- <div class="container">
            <div class="row login-form">
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" placeholder="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="***********" name="password">
                    <button class="submit-btn col-2">Login</button>
                </form>
            </div>
        </div>
             -->
        

<!-- 
        <button><a href="/logout">Log Out</a></button> 

        <form action="" method="POST">
                    
            <div class="form-group">
                <label for="author_name">Header Image</label>
                <input type="text" name="image_link" placeholder="https://images.pexels.com/photos/1983917/....." id="image_link" required>
            </div>

            <div class="form-group">
                <label for="author_name">Name</label>
                <input type="text" name="author" placeholder="John Smith" id="author_name" required>
            </div>

            <div class="form-group">
                <label for="post_content">Tell us about the Project</label>
                <textarea name="content" id="post_content" placeholder="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium doloribus quae quibusdam." cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="post_portfolio">Portolio link</label>
                <input type="text" name="portfolio" placeholder="https://www.behance.net/JohnSmith" id="post_portfolio" required>
            </div>

            <div class="form-group">
                <label for="post_portfolio">Contact</label>
                <input type="text" name="contact" placeholder="JohnSmith@gmail.com" id="post_" required>
            </div>
            
            <input class="submit-btn" type="submit" id="submit-btn" value="POST">
    
        </form> -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../script.js"></script>
    </body>
</html>