<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
    <body>  

       

        <div class="nav-container">
            <div id="navBtn" class="nav-btn"></div>
            <h2 class="header-text nav-header">20–WDWU–07</h2>
            <div class="nav-list-con">
                <ul class="nav-list">
                  <li id="ourWork" class="subhead-text">Our Work</li>
                  <li id="homePage" class="subhead-text">Home</li>
                  <li id="shareWork" class="subhead-text">Upload your Work</li>
                  <li class="subhead-text">Login or Signup</li>
                  
                </ul>
            </div>
        </div>


        <div id="home-container">

            <div class="hero-img-con">
                <video src="../video/hero-vid.mp4" autoplay muted loop controls="off" class="hero-vid"></video>
            </div>

            

            <div class="vid-overlay"></div>

            <div class="home-text-con">
                <h1 class="header-text">20–WDWU–07</h1>
                <button id="homeCta"class="cta-btn-md Subhead-text">View our Work!</button>
            </div>

        </div>

        <div id="shareWork-container">

            
            <h2 class="shareWork-header header-text">20–WDWU–07</h2>
            <h3 class="shareWork-subhead subhead-text">Share your Work!</h3>
            <div class="shareWork-form-con">
                <form action="" method="POST">
                        
                    <div class="form-group">
                        <label for="author_name" class="form-label subhead-text">Header Image</label>
                        <input type="text" class="form-input bodycopy-text" name="image_link" placeholder="https://images.pexels.com/photos/1983917/....." id="image_link" required>
                    </div>
        
                    <div class="form-group">
                        <label for="author_name" class="form-labe subhead-text">Name</label>
                        <input type="text" class="form-input bodycopy-text" name="author" placeholder="John Smith" id="author_name" required>
                    </div>
        
                    <div class="form-group">
                        <label for="post_portfolio" class="form-label subhead-text">Portolio link</label>
                        <input type="text" class="form-input bodycopy-text" name="portfolio" placeholder="https://www.behance.net/JohnSmith" id="post_portfolio" required>
                    </div>
        
                    <div class="form-group">
                        <label for="post_Contact" class="form-label subhead-text">Contact</label>
                        <input type="text" class="form-input bodycopy-text" name="contact" placeholder="JohnSmith@gmail.com" id="post_" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="post_content" class="form-label subhead-text">Tell us about the Project</label>
                        <textarea name="content" class="form-input bodycopy-text" id="post_content" placeholder="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium doloribus quae quibusdam." cols="30" rows="10"></textarea>
                    </div>
                    <input class="submit-btn subhead-text" type="submit" id="submit-btn" value="Submit">
            
                </form>
            </div>
            <div class="form-btn-con">
                <div id="formBtn" class="form-btn"></div>
            </div>

            <div class="share_posts">
               
                {% for post in allpost %}
                <div class="comment-con-outer">
                    <div class="comment-con-inner"> 
                        <div class="post-img-con">
                            <img src="{{post.image_link |e}}" alt="" class="post-img">
                        </div>
                        <span class="post_author subhead-text">{{post.author_name |e}}</span> 
                        <span class="post_comment bodycopy-text">{{post.content |e}}</span> 
                        
                        <div class="contact-con">
                            <span class="post_comment bodycopy-text">{{post.portfolio |e}}</span> 
                            <span class="post_comment bodycopy-text">{{post.contact |e}}</span> 
                        </div>
                        
                        <div class="footer-con">
                            <span class="post_date bodycopy-text">Posted {{post.createdAt | date("d M, Y")}}</span>
                            <a href="/delete/{{post._id}}" class="btn-link bodycopy-text">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="login-con">
            <!-- login form -->

            <div class="login-form">
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" placeholder="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="***********" name="password">
                    <button class="submit-btn">Login</button>
                </form>
            </div>
        
        </div>

        
        <!-- signup form -->
        <!-- <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="JohnSmithy" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="**********" name="password">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" placeholder="John" name="firstName">
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Smith" id="lastName" name="lastName">
            <button>Submit</button>
        </form>
    
             -->
         
        


        <!-- <button><a href="/logout">Log Out</a></button>  -->


        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../script.js"></script>
    </body>
</html>