<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>

        <div id="home-container">

            <div class="hero-img-con">
                <video src="../video/hero-vid.mp4" class="hero-vid"></video>
            </div>

            <h1 class="Header-text">20–WDWU–07</h1>

            <button class="cta-btn-md">View our Work!</button>
            

        </div>




        
        <!-- signup form -->
        <!-- <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="JohnSmithy" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="**********" name="password">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" placeholder="John" name="firstName">
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Smith" id="lastName" name="lastName">
            <button>Submit</button>
        </form>
    
             -->
        
        <!-- login form -->
        <!-- <div class="container">
            <div class="row login-form">
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" placeholder="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="***********" name="password">
                    <button class="submit-btn col-2">Login</button>
                </form>
            </div>
        </div>
             -->
        

<!-- 
        <button><a href="/logout">Log Out</a></button> 

        <form action="" method="POST">
                    
            <div class="form-group">
                <label for="author_name">Header Image</label>
                <input type="text" name="image_link" placeholder="https://images.pexels.com/photos/1983917/....." id="image_link" required>
            </div>

            <div class="form-group">
                <label for="author_name">Name</label>
                <input type="text" name="author" placeholder="John Smith" id="author_name" required>
            </div>

            <div class="form-group">
                <label for="post_content">Tell us about the Project</label>
                <textarea name="content" id="post_content" placeholder="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium doloribus quae quibusdam." cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="post_portfolio">Portolio link</label>
                <input type="text" name="portfolio" placeholder="https://www.behance.net/JohnSmith" id="post_portfolio" required>
            </div>

            <div class="form-group">
                <label for="post_portfolio">Contact</label>
                <input type="text" name="contact" placeholder="JohnSmith@gmail.com" id="post_" required>
            </div>
            
            <input class="submit-btn" type="submit" id="submit-btn" value="POST">
    
        </form> -->

    </body>
</html>