
/* global edits & Text sizing */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.header-text {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.subhead-text{
    font-size: 19px;
    font-weight: 400;
}

.bodycopy-text{
    font-size: 14px;
    font-weight: 300;
}
/* Nav and Nav btn */

.nav-btn {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #000;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 100%;
    transform:translateY(-50%);
    transition: all .3s ease;
}

.nav-active-btn {
    transform: rotate(180deg);
    transition: all .3s ease;
    position: absolute;
    left: 94.5%;
}

.nav-container {
    width: 80%;
    height: 100vh;
    background: #fff;
    z-index: 15;
    position: absolute;
    left: -80%;
    transition: all .3s ease;
}

.nav-open{
    left: 0%;
    transition: all .3s ease;
    overflow: hidden;
}

.nav-header {
    margin: 32px 0 0 32px;
    text-align: left;
}

.nav-list-con {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.nav-list-con ul {
    list-style: none;
}

.nav-list-con ul li {
    padding: 8.5px 0;
}

/* Home Page */

#home-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero-img-con {
    position: absolute;
    width: 120vw;
    height: 120vh;
    overflow: hidden;
    top: -20vh;
    left: -20vw;
    pointer-events: none;
}

.hero-vid {
   height: 100%;
    object-fit: cover;
    object-position: right;
    z-index: -10;
}

.vid-overlay{
    width: 300vw;
    height: 30vh;
    background: #fff;
    position: absolute;
    z-index: 10;
    bottom: 0; 
    left: -50vw;
    transform: rotate(-5deg);
}

.home-text-con {
    position: absolute;
    bottom: 32px;
    z-index: 10;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cta-btn-md {
    
    background: none;
    outline: none;
    padding: 5px 19px;
    margin: 19px;
    border-radius: 34px;
}

/* Our Work Page */

#shareWork-container{
    padding: 32px;
}

.shareWork-header {
    text-align: left;
    padding-bottom:19px;
}

.shareWork-subhead {
    padding-bottom: 19px;
}

.form-btn-con {
    width: 100%;
    height: 32px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.form-btn {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #000;
    transition: all .6s ease;
}

.shareWork-form-con {
    display: flex;
    flex-direction: column;
    height: 0; 
    overflow: hidden;
    transition: all .8s ease;
}

.form-input, .form-label {
    width: 100%;
}

.form-input {
    line-height: 32px;
    padding: 0 9px;
    border: 1px solid #000;
    height: 32px;
    border-radius: 4px;
    outline: none;
    margin-top: 2px;
}

.form-input::placeholder{
    color: #000;
    font-weight: 400;
    opacity: 50%;
}

#post_content {
    height: 200px;
    line-height: 19px;
}

.submit-btn {
    background: none;
    border: 1px solid #000;
    padding: 1px 19px;
    border-radius: 32px;
    margin-top: 19px;
}


.form-con-active {
    height: 680px;
    padding-bottom: 32px;
    transition: all .6s ease;
}

.form-btn-active {
    transform: rotate(180deg);
    transition: all .6s ease;
}

/* post cards */

.comment-con-outer {
    width: 100%;
    padding: 32px 0;
}

.post-img-con {
    width: 100%;
    overflow: hidden;
    height: 300px;
    margin-bottom: 19px;
}

.post-img {
    width: 100%; 
    object-fit: cover;
}

.comment-con-inner {
    display: flex;
    flex-direction: column;
}

.post_author {
    padding-bottom: 14px;
}

.contact-con {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.footer-con {
    display: flex;
    justify-content: space-between;
    color: #555;
}