
/* global edits & Text sizing */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    color: #264653;
}

.header-text {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.subhead-text{
    font-size: 19px;
    font-weight: 400;
}

.bodycopy-text{
    font-size: 14px;
    font-weight: 300;
}
/* Nav and Nav btn */

.nav-btn {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 100%;
    transform:translateY(-50%);
    transition: all .3s ease;
}

.dark-nav-btn {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #264653;

}

.nav-active-btn {
    transform: rotate(180deg);
    transition: all .3s ease;
    position: absolute;
    left: 94.5%;
}

.nav-container {
    width: 80%;
    height: 100vh;
    background: #2a9d8f;
    z-index: 15;
    position: absolute;
    left: -80%;
    transition: all .3s ease;
}

.nav-open{
    left: 0%;
    transition: all .3s ease;
    overflow: hidden;
}

.nav-header {
    margin: 32px 0 0 32px;
    text-align: left;
    color: #fff;
}

.nav-list-con {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.nav-list-con ul {
    list-style: none;
}

.nav-list-item a {
    color: #fff;
}

.nav-list-con ul li {
    padding: 8.5px 0;
    cursor: pointer;
     text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
}

.nav-list-item {
    color: #fff;
}


/* Home Page */

#home-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero-img-con {
    position: absolute;
    width: 120vw;
    height: 120vh;
    overflow: hidden;
    top: -20vh;
    left: -20vw;
    pointer-events: none;
}

.hero-vid {
   height: 100%;
    object-fit: cover;
    object-position: right;
    z-index: -10;
}

.vid-overlay{
    width: 300vw;
    height: 30vh;
    background: #fff;
    position: absolute;
    z-index: 10;
    bottom: 0; 
    left: -50vw;
    transform: rotate(-5deg);
}

.home-text-con {
    position: absolute;
    bottom: 32px;
    z-index: 10;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cta-btn-md, .cta-btn-md a {
    
    background: #2a9d8f;
    border: none;
    outline: none;
    padding: 7px 21px;
    margin: 8px 0 19px 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}


/* Share Page */

#shareWork-container{
    padding: 32px;
}

.shareWork-header {
    text-align: left;
    padding-bottom:19px;
}

.shareWork-subhead {
    padding-bottom: 19px;
}


.form-btn-con {
    width: 100%;
    height: 32px;
    border: 1px solid #264653;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.form-btn {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #264653;
    transition: all .6s ease;
}


.shareWork-form-con {
    display: flex;
    flex-direction: column;
    height: 0; 
    overflow: hidden;
    transition: all .8s ease;
}

.form-input, .form-label {
    width: 100%;
}

.login-label {
    color: #fff;
}

.login-prompt, .signup-prompt {
    color: #fff;
}

.form-input {
    line-height: 32px;
    padding: 0 9px;
    border: 1px solid #fff;
    height: 32px;
    border-radius: 4px;
    outline: none;
    margin-top: 2px;
}

.form-input::placeholder{
    color: #264653;
    font-weight: 400;
    opacity: 50%;
}

#post_content {
    height: 200px;
    line-height: 19px;
}

.submit-btn {
    background: none;
    border: 1px solid #264653;
    padding: 1px 19px;
    border-radius: 4px;
    margin-top: 19px;
    cursor: pointer;
    color: #264653;
}

.login-btn {
    color: #fff;
    border-color: #fff;
}

.share-input {
    border-color: #264653;
    color: #264653;
}
.share-input textarea {
    padding-top: 6px;
    resize: vertical;
}

.form-con-active {
    height: 680px;
    padding-bottom: 32px;
    transition: all .6s ease;
}

.form-btn-active {
    transform: rotate(180deg);
    transition: all .6s ease;
}

/* post cards */

.comment-con-outer {
    width: 100%;
    padding: 32px 0;
}

.post-img-con {
    width: 100%;
    overflow: hidden;
    height: 300px;
    margin-bottom: 19px;
}

.post-img {
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.comment-con-inner {
    display: flex;
    flex-direction: column;
    color: #264653
}

.post_author {
    padding-bottom: 14px;
}

.contact-con {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.footer-con {
    display: flex;
    justify-content: space-between;
    color: #264653;
}

.btn-link, .btn-link a {
    font-style: italic;
    text-decoration: underline;
    color: #264653;
}

/* Login Page */

#login-page-con {
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90vh;
}

.login-con {
    position: absolute;
    left: 100vw;
    width: 83%;
    transition: all .3s ease;
}

.signup-con {
    position: absolute;
    right: 100vw;
    width: 83%;
    transition: all .3s ease;
}

.loginActive {
    position: absolute;
    left: 32px;
    width: 83%;
    transition: all .3s ease;
}

.signupActive {
    position: absolute;
    right: 32px;
    width: 83%;
    transition: all .3s ease;
}

.btn-con {
    display: flex;
    justify-content: space-between;
}

.edit-con {
    padding: 32px;
}

.cancel-btn {
    border-color: #264653;
}

.cancel-btn a {
    color: #264653;
}

.share-ta {
    padding-top: 6px;
}

